# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\20221205软件测试\08.python阶段\1205python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
